.navbar {
    height: 75px !important;
}

ul#nav-mobile li a{
    margin-top: 6px !important;
    font-family: 'Chicle', cursive;
    font-weight: 200;
    font-size: 23px !important;
}

ul#nav-mobile li a:hover {
    background-color: #ffffff !important;
    color: teal !important;

}

a.brand-logo {
    padding-top: 6px !important;
    font-size: 45px !important;
    font-family: 'Permanent Marker', cursive;
}