.navbar {
    height: 75px !important;
}


ul#nav-mobile li {
    margin-top: 6px !important;
    font-family: 'Chicle', cursive;
    font-weight: 200;
    font-size: 45px !important;
}
ul#nav-mobile li :hover {
    background-color: #ffffff !important;
    color: teal !important;

}

a.brand-logo {
    padding-top: 6px !important;
    font-weight: bold !important;
    font-size: 45px !important;
    font-family: 'Permanent Marker', cursive;
}